@font-face {
  font-family: 'yu';
  src:  url('yu.eot');
  src:  url('yu.eot?#iefix') format('embedded-opentype'),
    url('yu.ttf') format('truetype'),
    url('yu.woff') format('woff'),
    url('yu.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="yu-icon-"], [class*=" yu-icon-"] {
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="yu-icon-"]::before, [class*=" yu-icon-"]::before,
[class^="yu-icon-"]::after, [class*=" yu-icon-"]::after {
  font-family: "yu" !important;
}

.yu-icon-eye-close:before {
  content: "\e940";
}

.yu-icon-address:before {
  content: "\ea4f";
}

.yu-icon-arr-down1:before {
  content: "\ea50";
}

.yu-icon-arr-left:before {
  content: "\ea51";
}

.yu-icon-arr-down:before {
  content: "\ea52";
}

.yu-icon-arr-right1:before {
  content: "\ea53";
}

.yu-icon-arr-left1:before {
  content: "\ea54";
}

.yu-icon-arr-right:before {
  content: "\ea55";
}

.yu-icon-approval:before {
  content: "\ea56";
}

.yu-icon-arr-up:before {
  content: "\ea57";
}

.yu-icon-arrs-left:before {
  content: "\ea58";
}

.yu-icon-arr-up1:before {
  content: "\ea59";
}

.yu-icon-book:before {
  content: "\ea5a";
}

.yu-icon-box:before {
  content: "\ea5b";
}

.yu-icon-boxs:before {
  content: "\ea5c";
}

.yu-icon-arrs-right:before {
  content: "\ea5d";
}

.yu-icon-box2:before {
  content: "\ea5e";
}

.yu-icon-box1:before {
  content: "\ea5f";
}

.yu-icon-calendar:before {
  content: "\ea60";
}

.yu-icon-calendar1:before {
  content: "\ea61";
}

.yu-icon-calculator:before {
  content: "\ea62";
}

.yu-icon-cancel1:before {
  content: "\ea63";
}

.yu-icon-cancel:before {
  content: "\ea64";
}

.yu-icon-camera:before {
  content: "\ea65";
}

.yu-icon-chart3:before {
  content: "\ea66";
}

.yu-icon-chart:before {
  content: "\ea67";
}

.yu-icon-cattle:before {
  content: "\ea68";
}

.yu-icon-center:before {
  content: "\ea69";
}

.yu-icon-chart2:before {
  content: "\ea6a";
}

.yu-icon-chart1:before {
  content: "\ea6b";
}

.yu-icon-chart4:before {
  content: "\ea6c";
}

.yu-icon-chart5:before {
  content: "\ea6d";
}

.yu-icon-checked:before {
  content: "\ea6e";
}

.yu-icon-checked1:before {
  content: "\ea6f";
}

.yu-icon-chart6:before {
  content: "\ea70";
}

.yu-icon-check:before {
  content: "\ea71";
}

.yu-icon-checked2:before {
  content: "\ea72";
}

.yu-icon-check-un:before {
  content: "\ea73";
}

.yu-icon-choice:before {
  content: "\ea74";
}

.yu-icon-choice-un:before {
  content: "\ea75";
}

.yu-icon-clculator:before {
  content: "\ea76";
}

.yu-icon-share:before {
  content: "\ea77";
}

.yu-icon-shutdown:before {
  content: "\ea78";
}

.yu-icon-shop:before {
  content: "\ea79";
}

.yu-icon-signin:before {
  content: "\ea7a";
}

.yu-icon-stack:before {
  content: "\ea7b";
}

.yu-icon-star-full:before {
  content: "\ea7c";
}

.yu-icon-star-half:before {
  content: "\ea7d";
}

.yu-icon-star:before {
  content: "\ea7e";
}

.yu-icon-task:before {
  content: "\ea7f";
}

.yu-icon-theme:before {
  content: "\ea80";
}

.yu-icon-template:before {
  content: "\ea81";
}

.yu-icon-switch:before {
  content: "\ea82";
}

.yu-icon-updown:before {
  content: "\ea83";
}

.yu-icon-time:before {
  content: "\ea84";
}

.yu-icon-unlike:before {
  content: "\ea85";
}

.yu-icon-time2:before {
  content: "\ea86";
}

.yu-icon-up:before {
  content: "\ea87";
}

.yu-icon-upload:before {
  content: "\ea88";
}

.yu-icon-star-empty:before {
  content: "\ea89";
}

.yu-icon-user1:before {
  content: "\ea8a";
}

.yu-icon-user3:before {
  content: "\ea8b";
}

.yu-icon-user2:before {
  content: "\ea8c";
}

.yu-icon-user:before {
  content: "\ea8d";
}

.yu-icon-usb:before {
  content: "\ea8e";
}

.yu-icon-text:before {
  content: "\ea8f";
}

.yu-icon-warning:before {
  content: "\ea90";
}

.yu-icon-user-del:before {
  content: "\ea91";
}

.yu-icon-word:before {
  content: "\ea92";
}

.yu-icon-time1:before {
  content: "\ea93";
}

.yu-icon-warning1:before {
  content: "\ea94";
}

.yu-icon-week-calendar:before {
  content: "\ea95";
}

.yu-icon-close:before {
  content: "\ea96";
}

.yu-icon-user-plus:before {
  content: "\ea97";
}

.yu-icon-cloud-services:before {
  content: "\ea98";
}

.yu-icon-cloud-down:before {
  content: "\ea99";
}

.yu-icon-close1:before {
  content: "\ea9a";
}

.yu-icon-close2:before {
  content: "\ea9b";
}

.yu-icon-zip:before {
  content: "\ea9c";
}

.yu-icon-contacts:before {
  content: "\ea9d";
}

.yu-icon-copy:before {
  content: "\ea9e";
}

.yu-icon-contacts1:before {
  content: "\ea9f";
}

.yu-icon-customer-service:before {
  content: "\eaa0";
}

.yu-icon-cloud-upload:before {
  content: "\eaa1";
}

.yu-icon-data1:before {
  content: "\eaa2";
}

.yu-icon-voice:before {
  content: "\eaa3";
}

.yu-icon-contacts2:before {
  content: "\eaa4";
}

.yu-icon-delete2:before {
  content: "\eaa5";
}

.yu-icon-delete1:before {
  content: "\eaa6";
}

.yu-icon-down:before {
  content: "\eaa7";
}

.yu-icon-detail:before {
  content: "\eaa8";
}

.yu-icon-details:before {
  content: "\eaa9";
}

.yu-icon-eye:before {
  content: "\eaaa";
}

.yu-icon-enlarge:before {
  content: "\eaab";
}

.yu-icon-data2:before {
  content: "\eaac";
}

.yu-icon-export:before {
  content: "\eaad";
}

.yu-icon-deposit:before {
  content: "\eaae";
}

.yu-icon-data:before {
  content: "\eaaf";
}

.yu-icon-edit:before {
  content: "\eab0";
}

.yu-icon-enterprise:before {
  content: "\eab1";
}

.yu-icon-eye1:before {
  content: "\eab2";
}

.yu-icon-farmer:before {
  content: "\eab3";
}

.yu-icon-file:before {
  content: "\eab4";
}

.yu-icon-exit:before {
  content: "\eab5";
}

.yu-icon-file1:before {
  content: "\eab6";
}

.yu-icon-encode:before {
  content: "\eab7";
}

.yu-icon-file2:before {
  content: "\eab8";
}

.yu-icon-fileremark:before {
  content: "\eab9";
}

.yu-icon-financial1:before {
  content: "\eaba";
}

.yu-icon-financial2:before {
  content: "\eabb";
}

.yu-icon-financial3:before {
  content: "\eabc";
}

.yu-icon-financial:before {
  content: "\eabd";
}

.yu-icon-display:before {
  content: "\eabe";
}

.yu-icon-delete:before {
  content: "\eabf";
}

.yu-icon-funnel:before {
  content: "\eac0";
}

.yu-icon-folder:before {
  content: "\eac1";
}

.yu-icon-folder2:before {
  content: "\eac2";
}

.yu-icon-folder1:before {
  content: "\eac3";
}

.yu-icon-group:before {
  content: "\eac4";
}

.yu-icon-gift:before {
  content: "\eac5";
}

.yu-icon-finish:before {
  content: "\eac6";
}

.yu-icon-funnel1:before {
  content: "\eac7";
}

.yu-icon-group1:before {
  content: "\eac8";
}

.yu-icon-guarantee:before {
  content: "\eac9";
}

.yu-icon-half-choice:before {
  content: "\eaca";
}

.yu-icon-home:before {
  content: "\eacb";
}

.yu-icon-handbag:before {
  content: "\eacc";
}

.yu-icon-home1:before {
  content: "\eacd";
}

.yu-icon-img:before {
  content: "\eace";
}

.yu-icon-info:before {
  content: "\eacf";
}

.yu-icon-infofile:before {
  content: "\ead0";
}

.yu-icon-like:before {
  content: "\ead1";
}

.yu-icon-left:before {
  content: "\ead2";
}

.yu-icon-loading:before {
  content: "\ead3";
}

.yu-icon-loading2:before {
  content: "\ead4";
}

.yu-icon-loading3:before {
  content: "\ead5";
}

.yu-icon-lock:before {
  content: "\ead6";
}

.yu-icon-loan:before {
  content: "\ead7";
}

.yu-icon-locked:before {
  content: "\ead8";
}

.yu-icon-key:before {
  content: "\ead9";
}

.yu-icon-lock1:before {
  content: "\eada";
}

.yu-icon-loop:before {
  content: "\eadb";
}

.yu-icon-menu3:before {
  content: "\eadc";
}

.yu-icon-manage:before {
  content: "\eadd";
}

.yu-icon-menu:before {
  content: "\eade";
}

.yu-icon-menu2:before {
  content: "\eadf";
}

.yu-icon-message:before {
  content: "\eae0";
}

.yu-icon-menu1:before {
  content: "\eae1";
}

.yu-icon-message3:before {
  content: "\eae2";
}

.yu-icon-message2:before {
  content: "\eae3";
}

.yu-icon-more:before {
  content: "\eae4";
}

.yu-icon-message1:before {
  content: "\eae5";
}

.yu-icon-more1:before {
  content: "\eae6";
}

.yu-icon-middle:before {
  content: "\eae7";
}

.yu-icon-minus:before {
  content: "\eae8";
}

.yu-icon-openfolder:before {
  content: "\eae9";
}

.yu-icon-narrow:before {
  content: "\eaea";
}

.yu-icon-no-color:before {
  content: "\eaeb";
}

.yu-icon-pdf:before {
  content: "\eaec";
}

.yu-icon-loading1:before {
  content: "\eaed";
}

.yu-icon-network:before {
  content: "\eaee";
}

.yu-icon-phone:before {
  content: "\eaef";
}

.yu-icon-pen:before {
  content: "\eaf0";
}

.yu-icon-picture:before {
  content: "\eaf1";
}

.yu-icon-print:before {
  content: "\eaf2";
}

.yu-icon-meun-unfold:before {
  content: "\eaf3";
}

.yu-icon-plus5:before {
  content: "\eaf4";
}

.yu-icon-play:before {
  content: "\eaf5";
}

.yu-icon-plus:before {
  content: "\eaf6";
}

.yu-icon-plus3:before {
  content: "\eaf7";
}

.yu-icon-plus1:before {
  content: "\eaf8";
}

.yu-icon-plus2:before {
  content: "\eaf9";
}

.yu-icon-meun-fold:before {
  content: "\eafa";
}

.yu-icon-plus4:before {
  content: "\eafb";
}

.yu-icon-projct:before {
  content: "\eafc";
}

.yu-icon-rice:before {
  content: "\eafd";
}

.yu-icon-print1:before {
  content: "\eafe";
}

.yu-icon-purse:before {
  content: "\eaff";
}

.yu-icon-right:before {
  content: "\eb00";
}

.yu-icon-read:before {
  content: "\eb01";
}

.yu-icon-scanning:before {
  content: "\eb02";
}

.yu-icon-question:before {
  content: "\eb03";
}

.yu-icon-refreshfile:before {
  content: "\eb04";
}

.yu-icon-searchfile:before {
  content: "\eb05";
}

.yu-icon-search1:before {
  content: "\eb06";
}

.yu-icon-schedule:before {
  content: "\eb07";
}

.yu-icon-setting:before {
  content: "\eb08";
}

.yu-icon-measure:before {
  content: "\eb09";
}

.yu-icon-setting1:before {
  content: "\eb0a";
}

.yu-icon-setting2:before {
  content: "\eb0b";
}

.yu-icon-search:before {
  content: "\eb0c";
}

.yu-icon-sever:before {
  content: "\eb0d";
}

.yu-icon-refresh:before {
  content: "\eb0e";
}

.yu-icon-setting3:before {
  content: "\eb0f";
}

.yu-icon-question1:before {
  content: "\eb10";
}

.yu-icon-full-screen:before {
  content: "\eb11";
}

.yu-icon-unfull-screen:before {
  content: "\eb12";
}

