.compact {
/** 首页相关 start **/
.yu-frame-top-bar-left>span .yu-frame-dropdown-menu, .yu-frame-top-bar-right>span .yu-frame-dropdown-menu, .yu-frame-top-user .yu-frame-dropdown-menu{top: 47px;}
.yu-frame-top-bar{height: 48px;}
.yu-frame-top-bar.yu-frame-top-left-bar{height: 64px;}
.yu-frame-top-bar-left, .yu-frame-top-bar-right{height: 47px;line-height: 47px;}
.yu-app-box-top{height: 47px;line-height: 47px;}
.yu-frame-top-bar-left>span, .yu-frame-top-bar-right>span{height: 47px;line-height: 47px;}
.yu-frame-top-user{height: 47px;}
.yu-frame-top-user .pic{margin-top: 4px;width: 36px;height: 36px;border-radius: 50%;}
.yu-frame-top-user .name-role{margin-top: 4px;}
.yu-frame-top-user .pic>img{width: 36px;height: 36px;border-radius: 50%;}
.yu-dashboard-container .el-col{padding: 0 8px !important;}
.yu-dashboard-box{margin-bottom: 16px;}
.yu-dashboard-user{height: 140px;}
.yu-dashboard-user-pic{margin: 20px 0 20px 24px;}
.yu-dashboard-user-info{margin-top: 34px;}
.yu-dashboard-user-tips{margin: 20px 24px;}
.yu-dashboard-box{min-height: 140px;}
.yu-dashboard-title{height: 36px;}
.yu-dashboard-title>h1{line-height: 36px;font-size: 14px;}
.yu-dashboard-title>a:link, .yu-dashboard-title>a:visited{line-height: 36px;font-size: 12px;}
.yu-dashboard-title::before{top: 10px;}
.yu-dashboard-title::after{top: 15px;}
.yu-dashboard-simple-list>li>a{font-size: 12px;}
.yu-dashboard-scale-left>h2>span{font-size: 12px;}
.yu-dashboard-scale-left>div{font-size: 12px;}
.yu-dashboard-tools{top: 0;}
.yu-dashboard-tools>span{font-size: 12px;}
.yu-dashboard-title>h1>span{height: 34px;line-height: 36px;}
.yu-frame-menu-vertical .el-menu .el-menu-item, .yu-frame-menu-vertical .el-menu .el-submenu__title{height: 36px;line-height: 36px;}
.yu-frame-top-bar-left>span>.el-badge, .yu-frame-top-bar-right>span>.el-badge{top: 10px;}
.yu-frame-tabs, .yu-tab-breadcrumb{height: 36px;}
.yu-tab-content>div>span{height: 34px;line-height: 34px;}
.yu-tab-drop-down-menu-button{height: 36px;}
.yu-tab-drop-down-menu-button>div{top: 36px;}
.yu-tab-drop-down-menu-button>div>span, .yu-tab-contextmenu>span, .yu-frame-dropdown-menu>span, .yu-frame-search-type>ul>li{height: 28px;line-height: 28px;font-size: 12px;padding-left: 16px;}
.yu-tab-drop-down-menu-button>div>span>i{top: 5px;right: 16px;}
.yu-tab-drop-down-menu-button>div, .yu-tab-contextmenu, .yu-frame-dropdown-menu, .yu-frame-search-type>ul{padding: 8px 0;}
.yu-frame-dropdown-menu>h1{height: 32px;line-height: 32px;padding: 0 16px;}
.yu-frame-themes-list, .yu-frame-model-list, .yu-frame-font-list{padding-left: 16px;}
.yu-frame-message .el-tabs__item{height: 32px;line-height: 32px;}
.yu-frame-message-list>li{height: 78px;}
.yu-frame-message-list>li>i{margin-left: 16px;}
.yu-frame-message-list{height: 395px;}
.yu-frame-message{height: 468px;}
.yu-frame-dropdown-menu>span{padding-left: 16px;}
.yu-frame-message-buttons{height: 32px;}
.yu-frame-message-buttons>.el-button--text{height: 31px;line-height: 31px;}
.el-button--text+.el-button--text{margin-left: 0;}
.yu-frame-tab{height: calc(100% - 47px);}
.yu-frame-tab-box{margin-top: 36px;height: calc(100% - 36px);}
.yu-logo{margin: 3px 16px;}
.yu-frame-search{height: 28px;line-height: 28px;top: 10px;}
.yu-frame-search>.yu-frame-search-button{width: 26px;height: 26px;line-height: 26px;border-radius: 13px;font-size: 16px;}
.yu-frame-search-type{height: 26px;}
.yu-frame-search-type>span{height: 26px;line-height: 26px;}
.yu-frame-search-type>ul{top: 27px;}
.yu-frame-search .el-input .el-input__inner{height: 26px;line-height: 26px;}
.yu-frame-menu-top .yu-frame-menu{height: 38px;top: 48px;}
.yu-menu-horizontal>.el-menu>div>.el-menu-item, .yu-menu-horizontal .yu-root-level>.el-submenu__title{line-height: 38px;height: 38px;}
.yu-menu-horizontal>.el-menu>div>.el-menu-item{font-size: 14px;}
.yu-menu-horizontal .yu-root-level>.el-submenu__title{font-size: 14px;}
.yu-menu-horizontal{height: 38px;}
.yu-frame-menu-top .yu-frame-tab{margin-top: 38px;}
.yu-frame-menu-top .yu-frame-tab {height: calc(100% - 86px);}
.yu-frame-menu-top .yu-frame-top-bar-left>span .yu-frame-dropdown-menu, .yu-frame-menu-top .yu-frame-top-bar-right>span .yu-frame-dropdown-menu, .yu-frame-menu-top .yu-frame-top-user .yu-frame-dropdown-menu{top: 47px;}
.tile-menu .yu-root-level>.el-menu{top: 38px !important;padding: 4px 16px;}
.tile-menu .yu-root-level>.el-menu>li{padding: 3px 0;}
.tile-menu .yu-root-level>.el-menu>li>span{font-size: 12px;}
.tile-menu-list>li{font-size: 12px;}
.yu-menu-horizontal{padding: 0 16px;}
.yu-frame-tabs>div{height: 36px;}
.yu-dashboard-container .el-row{margin: 0 -8px !important;}
.tree-menu .yu-root-level>.el-menu{top: 38px!important;}
.tree-menu .yu-root-level .el-menu-item, .tree-menu .yu-root-level>.el-menu .el-submenu__title{height: 28px;line-height: 28px;font-size: 12px;padding: 0 16px;}
.el-tree-node__content>.el-checkbox>.el-checkbox__input{margin: 4px 0;}
.yu-tab-content{margin-left: 16px;}
.yu-base-panel.default.adjust-height .yu-base-panel-title{height: 48px;line-height: 48px;}
/** 首页相关 end **/

.yu-base-panel-content{padding: 16px;}
.yu-frame-tab-box>div{padding: 16px;}
.yu-base-panel-title{height: 48px;line-height: 48px;}
.yu-base-panel-title>h1{font-size: 14px;}
.concise-search .yu-base-panel-content{padding-top: 63px;}
.yu-button-drop .el-dropdown-menu__item{font-size: 12px;}
.standard-form .yu-base-panel-content{padding: 16px 16px 0 16px;}
.list-mode-btn .el-button{width: 28px;height: 28px;font-size: 14px;}
.list-mode-btn .el-button:not(.el-button--text){padding: 7px 6px;}
.custom-name-wrap .name{font-size: 14px;}
.custom-wrap .custom-name-wrap span{font-size: 14px;}
.custom-other-wrap .custom-info{font-size: 12px;}
.custom-wrap .custom-data-wrap{height: 103px;}
.custom-data-wrap.list-mode .custom-pic-wrap{padding-left: 20px;}
.custom-wrap .custom-data-wrap .custom-pic-wrap{height: 103px;}
.custom-wrap .custom-other-wrap{padding-top: 8px;}
.custom-wrap .custom-name-wrap .status{font-size: 12px;}
.custom-wrap .list-mode .handle-btn{top: 34px;font-size: 0;}
.custom-wrap .custom-name-wrap {padding-top: 10px;}
.custom-wrap .handle-btn button{width: 66px;height: 28px;font-size: 12px;}
.custom-wrap .list-mode button{margin-right: 8px;}
.el-dropdown-menu.yu-button-drop .el-dropdown-menu__item{font-size: 12px;}
.yu-base-panel-content .custom-wrap{padding: 0 16px;}
.custom-wrap .custom-pic-wrap{padding: 0 18px;}
.yu-base-panel-content .custom-wrap.list-mode-custom-wrap{padding: 0;}
.list-mode-btn {position: relative;top: 2px;}
.yu-form-buttons{padding: 16px 24px;}
.anchor-group-wrap .el-anchor__link{height: 28px;line-height: 28px;margin-top: 8px;}
.anchor-group-wrap .el-anchor__link::before{border-width: 14px;left: -28px;}
.anchor-group-wrap .el-anchor__ink__ball{top: 4px;}
.anchor-group-wrap .el-anchor__link__active>i.el-anchor__ink__ball, .anchor-group-wrap .el-anchor__link:active>i.el-anchor__ink__ball{top: 4px;}
.anchor-group-wrap .el-anchor__link__title{font-size: 12px;}
.help-tit-wrap{font-size: 14px;}
.group-form .yu-user-pic-box .info{font-size: 12px !important;}
.yu-user-pic .el-button--text{font-size: 12px;}
.yu-base-panel-collapse .el-xcollapse__icon__expand span{position: relative;top: -2px;font-size: 12px;}

/** 组件相关 start **/
.el-input {font-size:12px;}
.el-button{font-size:12px;}
.el-button:not(.el-button--text){padding: 7px 8px;}
.el-input .el-input__inner {height:28px;}
.el-table__footer-wrapper thead div, .el-table__header-wrapper thead div, .el-table td, .el-table th{font-size: 12px;}
.el-pagination{padding: 16px 0 0 0;}
.yu-xtable .el-table__row .el-dropdown{margin-left: 16px;}
.el-pagination button, .el-pagination span{font-size: 12px;}
.yu-base-panel-collapse .icon-filter{height: 26px;line-height: 26px;width: 26px;position: relative;top: 2px;}
.el-xcollapse__icon__expand, .yu-base-panel-title>a:link, .yu-base-panel-title>a:visited{font-size: 12px;}
.el-form-item__label{font-size: 12px;height: 28px;}
.el-form-item {margin-bottom: 14px;}
.yu-base-panel .yu-base-panel-filter{padding-top: 16px;}
.el-button+.el-button{margin-left: 8px;}
.el-dropdown-menu__item{line-height: 28px;}
.el-select-dropdown__item{font-size: 12px;padding: 4px 10px;height: 28px;}
.el-tree-node__content>.el-tree-node__expand-icon{line-height: 26px;}
.el-tree-node__label, .el-tree-node__loading-icon{line-height: 26px;}
.page-assist-wrap{width: 36px;}
.page-assist-wrap .icon-wrap{width: 36px;height: 36px;line-height: 36px;}
.back-top-tit, .help-tit{font-size: 12px;}
.el-form-item__label{padding: 8px 12px 8px 0;}
.yu-xform .el-form-item__content{height: 28px;line-height: 28px;}
.el-form-item__content {line-height: 28px;min-height: 28px;position: relative;font-size: 12px;}
.el-radio__label{font-size: 12px;}
.help-tit-wrap .help-icon{font-size: 14px;}
.el-form-details .el-input[value-type="array"]{line-height: 24px;}
.el-table .el-table__cell, .el-table th{height: 30px;}
.el-dialog__title{font-size: 14px;}
.el-dialog__headerbtn{font-size: 14px;}
.el-dialog__header {padding: 11px 20px 0;}
.el-dialog__body{padding: 15px 10px;}
.el-dialog__footer{padding: 15px;}
.el-dialog-x__title{font-size: 14px;}
.el-dialog-x__headerbtn{font-size: 14px;}
.el-dialog-x__header {padding: 11px 20px 0;}
.el-dialog-x__body{padding: 10px 16px;}
.el-dialog-x__footer{padding: 15px;}
.el-button--text, .el-button--text:focus{font-size: 12px;}
.el-message-box__header{padding: 12px 20px 0;}
.el-message-box__title{font-size: 14px;}
.el-message-box__headerbtn{top: 12px;}
.el-message-box__content{font-size: 12px;}
.el-textarea__inner{font-size: 12px;}
.el-form-search .el-form-item{margin-bottom: 14px;}
.el-form-search .adjust{bottom: 0;}
.el-form-search .search-btn-group>span{font-size: 12px;height: 28px;}
.el-form-search .search-btn-group{position: relative;}
.el-tree-node__content{line-height: 28px;height: 28px;}
.el-tree-node__label, .el-tree-node__loading-icon{font-size: 12px;}
.el-form-item__error{padding-top: 1px;}
.el-tabs__nav-wrap{padding: 0 16px;}
.el-collapse-item__header{height: 30px;line-height: 30px;}
.el-radio-button__inner{padding: 6px 16px;font-size: 12px;}
.el-checkbox__inner{width: 14px;height: 14px;}
.el-checkbox__label{font-size: 12px;}
.el-checkbox__inner::after{left: 3px;top: -1px;}
.el-input__inner{height: 28px;}
.el-date-editor .el-range-separator{line-height: 20px;}
/** 组件相关 end **/

.yu-xform .el-input .el-input__inner{
  height: 28px !important;
  line-height: 28px !important;
}
.yufp-user-selector .el-form-item{
  height: 28px;
  line-height: 28px;
}
/* UI 2.0 中补充样式-需回归到 yufp-web sta*/
.el-dialog-x__body .yu-base-panel-collapse{
  line-height: 30px !important;
}
.yu-frame-search .el-input .el-input__inner{height: 26px!important;}
.el-checkbox__inner::after{left: 3px;top: 0px;}

.yu-base-panel .el-combo-tree {
  line-height: 26px;
  height: 26px;
}
.el-input .el-input__inner {
  height:28px !important;
}
.el-input .el-input__icon {
  line-height:28px;
  font-size: 13px;
}
.el-tree-node__content>.el-tree-node__expand-icon{
  height: 28px;
  line-height: 28px;
}
.el-dialog-x__header {
  padding: 19px 16px 0 16px;
}
.el-dialog-x__footer {
  padding: 10px 16px;
}
.yu-base-panel-title{
  padding: 0 16px;
}
.yu-base-panel-right-content .yu-base-panel-collapse{
  line-height: 57px;
}
.yu-xform .search-btn{
  height: 42px;
}
.yu-xform .el-form-item__content[aria-ctype="custom"]{
  height: auto;
}
/* 某些自定义的custom表单项，需要高度为36px,在item上设置class="fix-height" */
.yu-xform .fix-height .el-form-item__content[aria-ctype="custom"]{
  height: 28px;
}
.yu-xform .el-form-item__content[aria-ctype="yufp-search-tree"],
.yu-xform .el-form-item__content[aria-ctype="select"]
.yu-xform .el-form-item__content[aria-ctype="input"], 
.yu-xform .el-form-item__content[aria-ctype="num"]{
  height: 28px;
}
.el-dialog-x__body .yu-base-panel-content{
  padding: 16px 16px;
}
.list-mode-btn .el-button:not(.el-button--text){padding: 7px 12px;}
.el-button:not(.el-button--text){padding: 7px 12px;}
.yufp-search-tree{
  height: 28px;
  line-height: 28px;
  width: 100%;
}
.yu-base-panel .yu-base-panel-filter{
  padding: 16px 16px 0 16px;
}
.el-form-item__label{
  padding: 8px 4px 8px 0;
}
.el-dialog-x__wrapper.no-body-padding .el-dialog-x__body{padding: 10px 0;}
.el-dialog-x__wrapper .yu-base-panel-title{
  height: 36px !important;
  line-height: 36px !important;
}
.el-form-search .adjust .search-btn-group {
  padding: 13px 0;
}
.el-form-details .el-form-item{
  margin-bottom: 0px;
}
.yu-xform .el-form-item__content[aria-ctype="input"]{
  height: 28px;
}
.yu-base-panel-title>h1{
  line-height: 48px;
}
.yu-base-panel-right-content .yu-base-toolbar{
  padding-top: 10px;
}
h1.table-title{
  font-size: 14px;
}
/* UI 2.0 中补充样式-需回归到 yufp-web end*/
}
